---
layout: default
video: true
chat: true
session_1: false
session_2: false
---
<h3>Accepted Papers</h3>
<br><br>

<center>
<div class="row justify-content-center">

<div class="paper text-center">
{%- for paper in site.data.papers -%}
	<h3>{{ paper.title }}</h3>
	<ul>
		<li><b>{{ paper.authors }}</b></li>
		<li><a href="{{ paper.link }}">{{ paper.link }}</a></li>

	</ul>
{%- endfor -%}
</div>
</div>
</center>

<!-- <div class="row justify-content-center"> -->



<!--   <div class="col">
	{% if layout.video and page.live != true %}
    <div id="presentation-embed-{{ page.slides_live_id }}" class="slp"></div>
    <script src='https://slideslive.com/embed_presentation.js'></script>
    <script>
      embed = new SlidesLiveEmbed('presentation-embed-{{ page.slides_live_id }}', {
      presentationId: '{{ page.slides_live_id }}',
      autoPlay: false, // change to true to autoplay the embedded presentation
      verticalEnabled: true,
      allowHiddenControlsWhenPaused: true,
      zoomRatio: 0.25,
      hideTitle: true,
      });
    </script>
    {% elsif page.live %}
    <div class="text-center"><i>Please note that this talk is NOT pre-recorded and will be streamed live.</i></div>
    {% else %}
    <div class="text-center"><i>Video coming soon!</i></div>
	{% endif %}
  </div> -->
  
<!--   <div class="col">
	{% if layout.chat %}
    <div class="rocket">
      <iframe frameborder="0" src="https://iclr.rocket.chat/channel/{{ page.rocket_id }}?layout=embedded" width="100%" height="680px"></iframe>
    </div>
    {% else %}
    <div class="text-center"><i>Chat coming soon!</i></div>
	{% endif %}
  </div> -->
</div>
